@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray-1: #00000029;
  --clr-gray-2: #e1e1e1;
  --clr-gray-3: #0000001a;
  --clr-gray-4: #eee;
  --clr-blue-1: #47a4f5;
  --clr-blue-2: #0074db;
  --clr-blue-3: #0059a8;
  --clr-blue-4: #00315c;
  --clr-blue-5: #2c4861;
  --clr-blue-6: #00080f;
  --clr-blue-7: #47a4f54f;
  --clr-blue-8: #3484cacc;

  --fs-giant: 5rem;
  --fs-bigger: 4rem;
  --fs-big: 2.6rem;
  --fs-larger: 2rem;
  --fs-large: 1.8rem;
  --fs-regular: 1.6rem;
  --fs-small: 1.4rem;
  --fs-smaller: 1.2rem;

  --fw-regular: 400;
  --fw-semi-bold: 600;
}

body {
  font-size: var(--fs-regular);
  font-family: "Noto Sans Georgian", sans-serif;
  color: var(--clr-black);
  background-color: var(--clr-white);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  background-color: var(--clr-white);
  box-shadow: 0 8px 30px var(--clr-gray-1);
  margin: 3.5rem 3.1rem 0;
  width: calc(100vw - 6.2rem);
  position: fixed;
  top: 0;
  z-index: 100;
  position: sticky;
}

.header__logo {
  font-size: var(--fs-giant);
  line-height: 7.6rem;
  color: var(--clr-blue-5);
  font-family: "Poppins";
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.1rem;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.1rem;
}

.header__nav-link {
  position: relative;
  padding: 0.6rem 1.2rem;
  font-size: var(--fs-large);
  line-height: 2.88rem;
}

.header__nav-link--active::after,
.header__nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-blue-3);
}

.header__select {
  border-radius: 1rem;
  background-color: var(--clr-gray-2);
  color: var(--clr-white);
  height: 3.4rem;
  width: 10.6rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.header__select__text {
  font-size: var(--fs-small);
  line-height: 2.4rem;
}

.header__select__img,
.header__select__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.content {
  margin-top: -17.2rem;
}

.hero-slider {
  width: 100%;
  height: 72rem;
}
.hero-slider .swiper-slide {
  position: relative;
}
.hero-slider .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -10rem 15rem var(--clr-blue-6);
  z-index: 1;
  pointer-events: none;
}
.hero-slider .swiper-slide img {
  width: 100%;
  height: 72rem;
  object-fit: cover;
}
.hero-slider .swiper-pagination {
  margin-bottom: 3rem;
}
.hero-slider .swiper-pagination-bullet {
  border-radius: 0.5rem;
  background-color: var(--clr-white);
  margin: 0 1rem !important;
}
.hero-slider .swiper-pagination-bullet-active {
  width: 4rem;
  background-color: var(--clr-blue-2);
}

.about {
  margin: 6.5rem auto 8.4rem;
  width: 123.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}

.about__heading {
  font-size: var(--fs-bigger);
  line-height: 6.4rem;
  font-weight: 500;
}

.about__paragraph {
  font-size: var(--fs-large);
  line-height: 2.88rem;
}

.services {
  margin: 0 auto 10.8rem;
  width: 123.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}

.services__heading {
  font-size: var(--fs-bigger);
  line-height: 6.4rem;
  font-weight: 500;
  border-bottom: 3px solid var(--clr-blue-3);
  width: 41.1rem;
  padding-bottom: 0.9rem;
  margin-bottom: 5.3rem;
}

.services__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
}

.service {
  width: 39.6rem;
  height: 28.5rem;
  position: relative;
}

.service__img {
  width: 100%;
  height: 19.4rem;
  object-fit: cover;
}

.service__container {
  width: 30.9rem;
  height: 14.9rem;
  background-color: var(--clr-white);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.7rem 1.9rem 2.1rem 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.service__heading {
  font-size: var(--fs-large);
  line-height: 2.88rem;
}

.service__paragraph {
  font-size: var(--fs-small);
  line-height: 1.9rem;
}

.service__btn {
  font-size: var(--fs-small);
  line-height: 1.9rem;
  color: var(--clr-blue-2);
  align-self: flex-end;
}

.news {
  overflow: hidden;
}

.news__wrapper {
  margin: 12.4rem auto 11.5rem;
  width: 123.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}

.news__heading--primary {
  font-size: var(--fs-bigger);
  line-height: 6.4rem;
  font-weight: 500;
  border-bottom: 3px solid var(--clr-blue-3);
  width: 29.8rem;
  padding-bottom: 0.9rem;
  margin-bottom: 5.3rem;
}

.news-swiper {
  width: 100%;
}

.news__img {
  width: 61rem;
  height: 32.5rem;
  object-fit: cover;
}

.news__heading {
  font-size: var(--fs-bigger);
  line-height: 4.6rem;
  margin: 1.3rem 0;
  font-weight: 500;
  display: block;
}

.news__paragraph {
  font-size: var(--fs-large);
  line-height: 2.88rem;
  margin-bottom: 1.7rem;
}

.news__date {
  font-size: var(--fs-small);
  line-height: 1.9rem;
  color: var(--clr-blue-1);
  width: 21.2rem;
  border-bottom: 1px solid var(--clr-blue-2);
  display: block;
  padding-bottom: 0.4rem;
}

.news__btn {
  margin-top: 0.3rem;
  font-size: var(--fs-large);
  line-height: 2.4rem;
  color: var(--clr-blue-1);
}

.news-swiper {
  overflow: visible !important;
}

.news__prev::after,
.news__next::after {
  display: none !important;
}

.news__prev {
  background-color: var(--clr-blue-1);
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 2.5rem;
  box-shadow: 0 10px 20px var(--clr-gray-3);
  left: -12.2rem !important;
  z-index: 100 !important;
  top: 15.3rem !important;
}

.news__next {
  background-color: var(--clr-blue-1);
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 2.5rem;
  box-shadow: 0 10px 20px var(--clr-gray-3);
  right: -12.2rem !important;
  top: 15.3rem !important;
}

.news__slide {
  visibility: hidden;
}

.news__slide.swiper-slide-active,
.news__slide.swiper-slide-next {
  visibility: visible;
}

.contact {
  position: relative;
  width: 90%;
  height: 54.6rem;
  margin-left: auto;
  z-index: 1;
}

.contact__img {
  position: absolute;
  left: 0;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 69.7rem;
  height: 42.9rem;
  object-fit: cover;
  box-shadow: 5rem 7rem 0 var(--clr-white);
}

.contact__container {
  position: absolute;
  right: 0;
  background-color: var(--clr-blue-7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 37.6rem;
  width: 82%;
  height: 100%;
  z-index: 2;
}

.contact__text {
  width: 56.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__heading {
  font-size: var(--fs-bigger);
  line-height: 4.6rem;
  font-weight: var(--fw-semi-bold);
}

.contact__paragraph--primary {
  font-size: var(--fs-large);
  line-height: var(2.88rem);
  margin: 1rem 0 1.3rem;
}

.contact__paragraph {
  font-size: var(--fs-large);
  line-height: var(2.88rem);
}

.contact__cta {
  font-size: var(--fs-small);
  line-height: 1.9rem;
  color: var(--clr-blue-1);
}

.contact__socials {
  width: 11.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__socials__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.vacancies {
  width: 123.4rem;
  margin: 12.4rem auto 12.2rem;
}

.vacancies__header {
  margin-bottom: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.vacancies__heading {
  font-size: var(--fs-bigger);
  line-height: 6.4rem;
  font-weight: 500;
  border-bottom: 3px solid var(--clr-blue-3);
  width: 29.8rem;
  padding-bottom: 0.9rem;
}

.vacancies__link {
  font-size: var(--fs-large);
  line-height: 2.4rem;
  color: var(--clr-blue-1);
}

.vacancies__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.7rem;
}

.vacancy {
  width: 100%;
  height: 13.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-blue-7);
  border-radius: 0.3rem;
}

.vacancy__heading {
  font-size: var(--fs-big);
  line-height: 3.5rem;
  font-weight: var(--fw-semi-bold);
  margin-right: 8.2rem;
}

.vacancy__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  margin-right: 3rem;
}

.vacancy__paragraph {
  font-size: var(--fs-large);
  line-height: 2.88rem;
}

.vacancy__date {
  font-size: var(--fs-large);
  line-height: 2.4rem;
  color: var(--clr-blue-1);
}

.vacancy__btn {
  font-size: var(--fs-small);
  line-height: 1.9rem;
  color: var(--clr-white);
  background-color: var(--clr-blue-1);
  border-radius: 0.3rem;
  width: 13.2rem;
  height: 4.1rem;
}

.products {
  background-color: var(--clr-gray-2);
  height: 64.6rem;
  overflow: hidden;
  margin-bottom: 23.1rem;
}

.products-swiper {
  background-color: var(--clr-gray-2);
  height: 64.6rem;
  width: 150rem;
  overflow: visible !important;
}

.products__container {
  background-color: var(--clr-gray-2);
  height: 64.6rem;
  align-items: center;
}

.products__slide {
  width: 63.8rem !important;
  height: 34.2rem !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.products__img {
  width: 63.8rem;
  height: 34.2rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.products__slide::after {
  content: "";
  width: 63.8rem;
  height: 34.2rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  background-color: var(--clr-blue-8);
}

.products__text-container {
  position: absolute;
  z-index: 30;
  width: 49.6rem;
  height: 19.7rem;
  background-color: var(--clr-gray-4);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.7rem;
}

.products__heading {
  font-size: var(--fs-big);
  line-height: 3.5rem;
  color: var(--clr-blue-1);
  font-weight: var(--fw-regular);
}

.products__price {
  font-size: var(--fs-large);
  line-height: 2.4rem;
}

.products__price--blue {
  color: var(--clr-blue-1);
}

.products__paragraph {
  width: 38.7rem;
  height: 4.7rem;
  overflow: hidden;
  text-overflow: clip;
  font-size: var(--fs-small);
  line-height: 2.3rem;
}

.products__prev {
  left: calc(50% - 5.8rem) !important;
  top: 57.3rem !important;
}
.products__next {
  right: calc(50% - 5.8rem) !important;
  top: 57.3rem !important;
}
